{% extends 'base.html' %}
{% load static %}
{% block content %}


				<!-- Main -->
					<div id="main">

						<!-- Post -->
						{% if region.get_children %}
										{% for child in region.get_children %}
							<article class="post">
								<header>
									<div class="title">

										<h2><a href="{% url 'region' child.slug %}">{{ child.name }}</a></h2>
										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<a href="single.html" class="image featured"><img src="{{ region.image.urls }}" alt="" /></a>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
								<footer>
									<ul class="actions">
										<li><a href="single.html" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
						{% endfor %}
										{% endif %}


<!-- Posts List -->
						{% if not region.get_children %}
												{% for tour in tours%}
							<section>
								<ul class="posts">
									<li>
										<article>

											<header>
												<a href="single.html" class="image"><img src="{{tour.get_image }}" style="width: 200px; height: 200px; " alt="" /></a>

												<h3><a href="{% url 'detail' tour.id%}">{{ tour }}</a></h3>
												<p>{{ tour.description|truncatewords:25 }}</p>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
											</header>
											</article>
									</li>
								</ul>
							</section>
					</div>

{% endfor %}

{% endif %}
				{% endblock %}

